<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="description" content="Data">
    <meta name="author" content="t@wse.nyc">
    <title>
        <%= title %>
    </title>
    <script src="/all/js/jquery-3.6.0.min.js"></script>
    <script src="/all/js/jquery.terminal.min.js"></script>
    <script src="/all/js/keyboard.js"></script>
    <script src="/all/js/wcwidth.js"></script>
    <link rel="stylesheet" href="/all/css/jquery.terminal.min.css">
    <link rel="stylesheet" href="/all/css/data.css">
</head>

<body>
    <div class="term">
        <div class="box">
            <div class="tit" id="terminal">
            </div>
        </div>
    </div>
</body>
<script>
    $(function() {
        $('#terminal').terminal();
    });
</script>
</html>