<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="description" content="Error">
    <meta name="author" content="t@wse.nyc">
    <title><%= code %></title>
    <style type="text/css">
        html {
            background: #ffffff url(/all/img/<%= code %>.jpg) no-repeat fixed center center;
            background-size: cover;
        }
        body {
            height: 100%;
        }
        .box {
            position:absolute;
            width: 40%;
            top: 10%;
            left:5%;
            z-index: 1000;
            text-align: center;
        }
        .code {
            font-family: '3270', sans-serif;
            font-size: 6em;
            font-weight: 800;
            color: black;
        }
        .msg {
            font-family: '3270', sans-serif;
            font-size: 2em;
            font-weight: 600;
            color: black;
            line-height: 40%;
            white-space: nowrap;
        }
        @font-face {
            font-family: '3270';
            font-weight: 100;
            font-style: normal;
            src: url('/all/font/3270Medium.woff2') format('woff2');
        }
    </style>
</head>

<body>
    <div class="box">
        <p><span class="code"><%= code %></span><br />
            <span class="msg"><%= msg %></span>
        </p>
    </div>
</body>

</html>