<div class="footer">
    <div class="footer_left">
        <span></span>
    </div>
    <div class="footer_center">
        <span>
            <%= user.geo.footer %>
        </span>
    </div>
    <div class="footer_right">
        <span></span>
    </div>
</div>