<div class="header">
    <span class="header_user"><a href='/user'>
            <%= user.name %>
        </a></span><br />
    <span class="header_type"><a href='/user'>
            <%= user.type %>
        </a></span>
    <br />

    </span>
</div>