<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>scotty.nyc</title>

    <meta name="description" content="The personal web site of Scott Gaertner">
    <meta name="author" content="t@wse.nyc">
    <meta id="hash" content="g-files,dev,FOSS,js,node.js,obsolete">
    <link rel="stylesheet" type="text/css" href="/css/index.css">
</head>

<body>
    <div class="bug">
        <%=text %><br /><%=text2 %><br />
    </div>
    <div class="main">
                                                                                                                          .                           <br />
                                                                                                                    .::i,.,;7SSSS7;:.                 <br />
                                                                                                                ,rXXX7X2X77::XSXX;rSZ2X7r,            <br />
                                                                                                               XM@MMMMMMM@MMXr:::::;i;rSXSXr.         <br />
                                                                                                              7MMX;MMXWMMMMWWMa:,:i:;;7XZMM@MMS:      <br />
                                                                                                             ;MMMM::BZ2WMMMMWWZX;,.i7Sr;rrXMMMMMMi    <br />
            .                                                                            :ZSZ          ,,,i,7MMMMMMBXMM8BMMMM8ZMMMS:.i77:ii:BMM@MMX   <br />
          raXaZ                    777           iri           iri                      XS. ;B7      .  i7iSMMB2MMMMM2MMXWMMMM::SSB0Sr;XSiX8@MMMMMMM  <br />
         M:   SB;                rZi.X0r        WXiXaXXri.    BS;XaXXr;,    ,,         iM     0Z     .  7iSMa.   :r2BB;MB;WMMMM; ;r;777;;r:8MMMMMMMM2 <br />
        rMZ.   .SZX,            iM,    2Zr    i@;     ,i;XXSXBX     ,irXXSSa8M7i::,:::iMM2     XB,   .  ZMMX       ,:rirXr;7rr7S;,,;i;i;ir;.MMMMMMMMM <br />
      r7ar;.      ;Sa;      7XS7r;;      S8;,a;                              .i;rrr;r;:  rMS    :M:    :MMZ   ....,,i;r;Xr;;;;;;7i.,i;;:::7:XMMMMMMMMr<br />
   ,aai              :W.  78:              ;X,:Xr.     .r.                             ;MMMM2    .MX   MMM  .,.,.,::ii;;;r;r;;;;;;i::i:i,:i7MMMMMMMMMM<br />
  rZ: ,WMMMMMMMMZ7  ;SM  8X  ;X2aSX77i,     iMMr;MM;    XMMMM,    X2ZMMMMMMi    r2aM.   M  MM;     ZZ 7MMi  ,.,.,:::ii;;;;r;ri;iiii:i::,,ir;MMMMMMMMMW<br />
  M    .7X:X@MMMMMW0MMM8Z, XMMMMMMMMMMMMMXWMM2 .MMMMM.   7MMMM    rMMMMZ@MMM    iMMMi   2r .M8      7ZrM@  ..:,,,::iiiir;r;;;;i;ii:i::,,,irrBMMMMMMMMM<br />
 iMB.                  r   M0:.  .::;rS0MMMS:  MMi.MMM.   Z MM:    M,     WM;    BrMW    ZX Mi ,S    ,M7r ..,.,.::::ii;;;i;iiii:i:i::::,,:;2MMMMMMMMM <br />
  MMMM; :i,,.::iii::       22           ri.i  :M    SMB  SM .MM    r2      MM    ,0MMi    .;, iMMM    rW: .,.,.,,:,i;;ii:i:i:::i::::,,,,.,,iMMMMMMMMr <br />
   ;MM  SMMMMMMMMMMr  82    raX:.  ,i;;. ,Mr   2X.   MM  MZ  MMi    M.     BMr    20MMr      0MMMMM   ,M; ......,.iiiiiiii::,...,,,...,.... ;MMMMMMMW <br />
    7W    ;X28aX:   XMMM;      i;;i,   7MMMS    ,7X7i   MM   :MM    XZ     .MM    iXiMMMSrXMMMX  WMr  ZM,:     . :iri;;;rXXWWM0ZSr:,:.,,...  BMMMMMMr <br />
    MMi          .BMMMXMMM7.       :XMMMMiMMX         rMM:    0M7   ;0      SMS   ,B  XMMMMMX,   Xa  ZMX .,,i70ar;;;rr7r77r@MMM@@8ZS7i..:..  :MMMM2 i <br />
    aMMMBXrrrX2MMMM8:  :MMMMMMMMMMMMMMX,  :MMMZr:,.r8MMM.      MM   2M       MM   7M  7XZ@87i;r7:   MMB   :70MMMMBSrirr7;rZ@MMZMMMMMMMB;i:..  aMM@i ,i<br />
     :2MMMMMMMMMM7       .72MMMMMZS;.       2MMMMMMMMMr        BM  rM2       SM  iMa @            rMMr    :M@SMMMMMM; ii;aMMMMaWMZ;,,iX7;:,.. iMBZXr:,<br />
         ,:i,.                                .;7SX;           X2 @MM        ;W ZMM iS        ,XMMMM,      2. SMMMMM; .::rMMMMMMMS;r;i.,,:... .7;r0MX <br />
                                                               8MMMS     rZ8 XMMM2  MMMMMMMMMMMMMBr         .i7MMMM7  .::,::rS8ZXX7r;ii::,:,. .:Xir@; <br />
                                                              ,MMM:    22X8i MMM.   S0MMMMMM027:           .:r7X77,  ..,,:...,:i:::,,::::i::,,,;X::.  <br />
                                                               ..    ;Ma,a.     :ri                        ,,.,..   ....,.,,:..,:::,,,:,:::,,.::..r   <br />
                                                                    aMa a;     r; aa              :77      :,.   ..  . .  .,;S7;iiii:i::::,:,,...:i   <br />
                                                                   BMM  Xa  iMM7   7B           .2X,X8r    .,.,.iX: :ii,.    ;BSXr;iii;:::,.,,,..     <br />
                                                                  rMMM   @ :MMMM2   :@:       ;MMM    SZi   .,,iX2.irXri:XXX:i;i;7r;:i:i:::,.:,,.     <br />
                                                               77 2MMM;   @ M;@MMM   .Mi    rS;         S2, ..:;7. :7XX7MMM27,,..,iii::::i:,,,,,.     <br />
                                                             :Z::S0MMMM   ;M  .MMMZ    Br XWr   .        :M. ,:;.  ..;SMWX;i::::,,,i:::,:i::,,,:.     <br />
                                                           2MM.    iMMMM   a   MMMM     2MM  MMMMMMMMMBrSX:  .,:... .,X0r:i:,,,,::::ii,,,,:,,,:,      <br />
                                                         .Z@ZMM      ,0M0  ,;   WMM ,7   S  S@;XSZMMMMMMMSM.  .:,:.::iii:irrr7r7Sa7;;;,:,,,,.::.      <br />
                                                        Sr,  iMZ  .     87  r.     :MMX     .a      :0aiXX.   .,;;7ZMMMMMMMMMMWS7;rr7;i,:::,,,:       <br />
                                                     iSMB     ;M  iM7        0r  iXMMMMr      rX;i:: .;a;      .ir,..:;SBBZ7i:..,::i;;ii:i::,,        <br />
                                                    .MMMM7  i7MM  2MMMa.     .MMM7 rMMM. SM:       :SM2         :ri,:i7raZS7;;;i;;;i;ii:i:i,.         <br />
                                                     rMMMMMMMMMMBX2MMMMM@:    2MXii;r,  MMMMMM08@MMM2            ,;;irr7X@@0X7;;i;ii::,iii,           <br />
                                                      SMMMr rMMM;   7MMMMMMi          ;S78MMMMMMMX:               .:i,,,::iiiii,::i:::;;:             <br />
                                                             :.       iMMMMMM.   .:XMM;                             .;rX7r;r;;;i:;7X7r:               <br />
                                                                        iMMMMMMMMMMMS                                 ,rZBMMM0ZaaSXi.                 <br />
                                                                          .:iii:.                                                                     
    

    <div class="namecontainer">
        <div class="nameblock">
            SCOTT GAERTNER<br />
            +1-212-496-2500<br />
            scott@scottgaertner.com<br />
<br />
            TECHNICAL DIRECTOR<br />
            TECHNOLOGY CONSULTANT<br />
            LIVE EVENT SPECIALIST<br />
        

        <div class="skillsblock">
            FULL-STACK DEVELOPMENT<br />
            DISPLAY TECHNOLOGY<br />
            INTERACTIVE VIDEO<br />
            VISUAL WIZARDRY<br />
            CIRCUIT DESIGN<br />
            MICROCONTROLLER PROGRAMMING<br />
            SOLVER OF RUBIK'S CUBES<br />
        </div>
        </div>
    </div>

    <div class="soon">
        ╔═════════════════════════════════════╗<br />
        ║  SITE RELAUNCH AND BBS COMING SOON  ║<br />
        ║       GAMES, G-FILES, & CHAT        ║<br />
        ║      PLAY TRADE WARS & THE PIT      ║<br />
        ║        WEEK OF JUNE 26, 2022        ║<br />
        ║             STAY TUNED              ║<br />
        ╚═════════════════════════════════════╝<br />
    </div>
    </div>
</body>

</html>