* html {
    margin: 0;
    padding: 0;
    border: 0;
}

a {
    text-decoration: none;
}

body {
    background-color: black;
    margin: 0;
    padding: 0;
}

.code {
    position: absolute;
    top: 50px;
    left: 5%;
    width: 240px;
    height: 85px;
    font-family: '3270';
    font-size: 100px;
    z-index: 10;
    color: white;
    justify-content: center;
    text-align: center;
}

.msg {
    position: absolute;
    top: 135px;
    left: 5%;
    width: 240px;
    height: 30px;
    font-family: '3270';
    font-size: 30px;
    z-index: 10;
    color: white;
    justify-content: center;
    text-align: center;
}

.small {
    position: absolute;
    bottom: 10px;
    width: 100%;
    height: 20px;
    font-family: '3270';
    font-size: 18px;
    z-index: 20;
    color: white;
    justify-content: center;
    text-align: center;
}

.debug {
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.0);
    position: absolute;
    bottom: 40px;
    left: 5%;
    width: 85%;
    height: 25%;
    font-family: 'Apple_2e';
    font-size: 18px;
    z-index: 10;
    color: #00ff00;;
    text-align: left;
}

.footer {
    position: absolute;
    width: 100%;
    height: 14px;
    bottom: 0px;
    z-index: 100;
    font-family: 'PromptMedium';
    font-size: 0.5em;
    color: #ffffff;
    display: flex;
    text-align: center;
}

.header {
    position: absolute;
    width: 100%;
    height: 18px;
    top: 0px;
    z-index: 100;
    font-family: 'PromptMedium';
    font-size: 1em;
    color: #ffffff;
    display: flex;
    justify-content: right;
}

.box {
    font-family: 'PromptMedium';
    color: white;
    position: absolute;
    width: 60%;
    height: 50%;
    background: rgba(0, 0, 0, 0.8);
    top: 25%;
    left: 20%;
    z-index: 1000;
    text-align: center;
}

.box_inner {
    font-family: 'PromptMedium';
    color: white;
    position: absolute;
    width: 90%;
    height: 40%;
    top: 15%;
    left: 5%;
    z-index: 1000;
    text-align: left;
}

a:link {
    color: white;
    text-decoration: none;
}

a:visited {
    color: white;
    text-decoration: none;
}

a:hover {
    color: white;
    text-decoration: none;
    text-shadow: 0 0 1px white, 0 0 2px white;
}

a:active {
    color: white;
    text-decoration: none;
}

@font-face {
    font-family: 'Prompt';
    font-weight: 300;
    font-style: normal;
    src: url('/font/Prompt-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'PromptLight';
    font-weight: 300;
    font-style: normal;
    src: url('/font/Prompt-Light.woff2') format('woff2');
}

@font-face {
    font-family: 'PromptMedium';
    font-weight: 300;
    font-style: normal;
    src: url('/font/Prompt-Medium.woff2') format('woff2');
}

@font-face {
    font-family: 'Apple_2';
    font-weight: 300;
    font-style: normal;
    src: url('/font/PrintChar21.woff2') format('woff2');
}

@font-face {
    font-family: 'Apple_2e';
    font-weight: 300;
    font-style: normal;
    src: url('/font/PRNumber3.woff2') format('woff2');
}

@font-face {
    font-family: 'VT100';
    font-weight: 300;
    font-style: normal;
    src: url('/font/VT100.woff2') format('woff2');
}

@font-face {
    font-family: '3270';
    font-weight: 300;
    font-style: normal;
    src: url('/font/3270Medium.woff2') format('woff2');
}